
.header{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.header-logo{
  display: flex;
  flex-direction: row;
}

.header-logo h1{
  font-size:50px;
  margin-left: 460px;
  align-items:center;
  z-index: 1;
  margin-top: 10px;

}

.header-logo img{
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}

.header-button img{
  margin-top: 10px;
  width: 160px;
  position:absolute;
  top:0%;
  right: 0px;
  z-index:2;

}

.header-button h2{
  margin-top: 20px;
  font-size: 15px;
  position:absolute;
  top: 10%;
  right: 50px;
  z-index:2;
}



.home-topfold{
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 500px;
}

.searchbar input{
  width: 440px;
  height: 40px;
  font-size: 30px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
}


.addbutton{
  width: 113px;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  background-color:rgb(15 50 233);
  color:rgb(247 245 250);
  border:none;
}


.image1{
  width: 60px;
  margin-left: 460px;
  cursor: pointer;
}

.image2{
  cursor: pointer;
  width: 60px;
  margin-left: 460px;
}

.add-topfold-button{
  display:flex;
  flex-direction: row;
}